/* -------------------------- */

.form-login {
	color: white;
	width: 40rem;
	height: 34rem;
	background-color: #4e4d4d;
	margin: auto;
	margin-top: 10rem;
	box-shadow: 1px 10px 10px rgb(23, 23, 23);
	padding: 2rem 3rem;
	border-top: 4px solid #017bab;
	color: white;
}

.form-login h5 {
	margin: 0;
	text-align: center;
	height: 4rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid;
	font-size: 2rem;
}

.controls {
	width: 100%;
	border: 1px solid #017bab;
	margin-bottom: 1.5rem;
	padding: 1.1rem 1rem;
	background: #252323;
	font-size: 1.4rem;
	font-weight: bold;
}

.buttons {
	width: 100%;
	height: 4rem;
	background: #017bab;
	border: none;
	color: white;
	margin-bottom: 1.6rem;
	cursor: pointer;
	font-size: 2rem;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-login p {
	/* color: white; */
height: 4rem;
text-align: center;
border-bottom: 1px solid;
}

.form-login p:nth-last-of-type(2) {
	height: 4rem;
	text-align: center;border: none;
}

.form-login .olvido {
	color: white;
	text-decoration: none;
	font-size: 1.4rem;
}

.form-login .olvido:hover {
	text-decoration: underline;
}

.form-login a {
	color: white;
	text-decoration: none;
	font-size: 2.5rem;
}

.inicio-trans {
	background-image: url(./img/bg.png);
	background-color: rgba( 0 0 0 / 70%) ;
    width: 100%;
    height: 100%;
}


.boton {
	z-index: 1;
   background-color:rgb(7, 0, 54);
   display: inline-flex;
   margin-right: 4rem;
   justify-content: center;
   align-items: center;
   height: 4rem;
   padding: 1rem;
   border: none;
   cursor: pointer;
   border-radius: 1rem;
   position:relative; 
    overflow: hidden;
	transition: .3s ease all;

}

.boton span {
	/* color: white; */
	color: var(--blanco);
    z-index: 2;
    position: relative;
	transition: .3s ease all;
}

.boton.uno::after{
	top: -8rem;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s ease-in-out all;
	background-color:var(--negro) ;
    position:absolute;
	
    left: 0;
}


.boton.uno:hover::after {
	top: 0	;	
}