:root {
    --negro:#000;
    --blanco:#fff;
	--bgcolor:rgb(52, 52, 52);
	--hovercolor:rgb(23, 23, 23);
    --principal:rgb(214, 0, 0);
    --gris:#ccc;
	--azul:rgb(0, 17, 255);
	--width-collapsed:5rem;
	--width:30rem;
	--paddding:1rem;
	--azulprincipal:rgb(7, 0, 54);
}


body {
	background-image: linear-gradient(to top, var(--gris) 0%,var(--negro) 200% ) ;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-left: var(--width-collapsed);
}
/* ---------------- */
/* desplegable */
/* --------------------- */


.menu-collapsed {
	scroll-behavior: auto;
	scroll-behavior: smooth;
	z-index: 2;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-left: var(--width-collapsed);
}

.body-expanded {
	margin-left: var(--width);

}

#main-container {
	color: var(--blanco);
}

#sidemenu {
	background-color: var(--bgcolor);
	color: var(--blanco);
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
}

#sidemenu a {
	color: var(--blanco);
}


/* ------------------- */
/* header del des */
/* ------------------- */

#sidemenu #header {
	box-sizing: border-box;
	border-bottom: 1rem;
}

#sidemenu #header #title {
	box-sizing: border-box;
	overflow: hidden;
}

#sidemenu #header #title, #sidemenu #header #menu-btn {
	vertical-align: middle;
}

#sidemenu #header #menu-btn {
	display: inline-block;
	cursor: pointer;
	padding: 1rem;
	width:var(--width-collapsed);
	box-sizing: border-box;
	position: static;
	z-index: 2;
}

#sidemenu #header #menu-btn:hover {
	background-color: var(--hovercolor);

}

#sidemenu #header #menu-btn .btn-hamburger {
	background-color: var(--blanco);
	width: 100%;
	height: 2px;
	margin:  5px 0;
}


/* ------------------- */
/* profile */
/* ----------------- */

#sidemenu #profile {
	border-bottom: solid 1px var(--hovercolor);
	padding: var(--paddding) 0;
	text-align: center;
}

#sidemenu #profile #photo {
	box-sizing: border-box;
	padding: var(--paddding);
	margin: 0 auto;
}

#sidemenu #profile #photo img {
	border-radius: 50%;
	width: 90%;
}

#sidemenu #profile #photo, #sidemenu #profile #name {
	font-size: 2.4rem;
	padding:var(--paddding) 0;
	overflow: hidden ;
}


/* ---------------- */
/* items */
/* ------------------ */

#sidemenu #menu-items {
	overflow: hidden;	
}

#sidemenu #menu-items .item {
	width: var(--width);

}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
	font-size: 1.4rem;
	vertical-align: middle;
	overflow: hidden;
	display: inline-block;
}

#sidemenu #menu-items .item a {
	display: block;
}

#sidemenu #menu-items .item a:hover {
	background-color: var(--hovercolor);
}

#sidemenu #menu-items .item .icon {
	box-sizing: border-box;
	width:var(--width-collapsed);
}

#sidemenu #menu-items .item .icon img {
	width: 100%;
	text-align: left;
}

#sidemenu #menu-items .item .title {
	padding: var(--paddding) 0;
}

#sidemenu #menu-items .item.separator {
	height: 1px;
	border-bottom: solid 1px var(--hovercolor);
margin: 15px 0;
}

/* --------------- */
/* des */
/* ------------ */

.menu-expanded {
	width: var(--width);
	box-shadow: 0 0 1rem rgb(0, 0, 0, 0.5%);
}

.menu-expanded #header #title {
	display: inline-block;
	width: calc(100% - 5rem);
	margin-right: -5px;
	padding: var(--paddding);
}

.menu-expanded #header #title span {
	width: calc(var(--width) - var(--width-collapsed) - 5px);
	overflow: hidden;
}


.menu-expanded #profile #photo {
	width: 70%;
}

.menu-expanded #profile #name {
	width: 100%;
}

.menu-collapsed {
	width: var(--width-collapsed);
}

.menu-collapsed a {
	align-items: center;
}


.menu-collapsed #header #title {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
}

.menu-collapsed #profile #name {
	display: none;
}

.menu-collapsed .item {
	width: 10rem;
}

/* --------------- */
/* fin */
/* ------------------ */

.logo {
	grid-column: 2/3;
}



.navegacion {
    grid-column: 3/4;
	padding-top: 1.5rem;
}


.navegacion 	a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3rem;
    padding-left: 2rem;	
    padding-right: 2rem;
}


/* ---------------- */
/* boton de registro */
/* ---------------- */

.botonn {
    color: var(--azulprincipal);     
}

.boton {
	z-index: 1;
   background-color:rgb(7, 0, 54);
   display: inline-flex;
   margin-right: 4rem;
   justify-content: center;
   align-items: center;
   height: 4rem;
   padding: 1rem;
   border: none;
   cursor: pointer;
   border-radius: 1rem;
   position:relative; 
    overflow: hidden;
	transition: .3s ease all;

}

.boton span {
	color: var(--blanco);
    z-index: 2;
    position: relative;
	transition: .3s ease all;
}

.boton.uno::after{
	top: -8rem;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s ease-in-out all;
	background-color:var(--negro) ;
    position:absolute;
	
    left: 0;
}


.boton.uno:hover::after {
	top: 0	;	
}


/* --------------- */
/* final */
/* ---------------- */

a {
	text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3rem;
}

html {
    font-size: 62.5%;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--gris);
	justify-content: center;
}

p {
    font-size: 2rem;
}

h2 {
    font-size: 4rem;
	text-align: center;
}

.main {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.unn {
	padding-left: 2rem;
}

main {
	min-height: 100vh;
}

main .contenido p {
	margin-bottom: 20px;
	line-height: 30px;
	color: #525151;
}

main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	padding-top: 40px;
}

main .contenido .fecha {
	font-size: 14px;
	color: #B5B5B5;
}


/* -------------------------------- */
/* Cartas de presentacion */
/* ------------------------------- */

.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;																									
}

.card:nth-of-type(1) .img__back{
    background-image: url(../img/bg1.jpg);
}

.card:nth-of-type(2) .img__back{
    background-image: url(../img/bg2.jpg);
}

.card:nth-of-type(3) .img__back{
    background-image: url(../img/bg3.jpg);
}

.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: gray;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}

/* ------------------------------------------- */
/* fin tajertas de presentacion con hover */	
/* ------------------------------------------ */

figure{
	width: 350px;
	height: 250px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 1px 5px 25px rgba(0,0,0,0.5);
	margin: 45px;
	}
	figure img{
	width: 500px;
	height: 100%;
	transition:1.0s;
	will-change: transform;
	}
	figure img:hover{
	transform: translateX(-30%);
	filter: brightness(80%);
	}

.paisajes {
	width: 50rem;
	height: 50rem;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 1px 10px 10px rgb(0,0,0,0.5%);
	border-radius: 2rem;
	position: re;
	
}

.paisajes img {
	transition: 4s;
	width: 50rem;
	height: 100%;
 margin: 2px;
} 

.paisajes img:hover {
 transform: translateX(-20%);
 filter: brightness(80%);
}

.imagenes__main {
	display: flex;
}

/* ----------------------- */
/* formulario de login */


/* medias */

@media(min-width:768px) {
	
}
/* ------------ */
/* mapa */
/* ----------- */

.mapa {
	background-repeat: no-repeat;
	grid-column: 3/4;
}

.mapa-div {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	border-radius: 2rem;
	align-items: center;
	background-position: center center;
	background-size: 100%;

}

/* en red */

