:root {
    --negro:#000;
    --blanco:#fff;
	--bgcolor:rgb(52, 52, 52);
	--hovercolor:rgb(23, 23, 23);
    --principal:rgb(214, 0, 0);
    --gris:#ccc;
	--azul:rgb(0, 17, 255);
	--width-collapsed:5rem;
	--width:30rem;
	--paddding:1rem;
	--azulprincipal:rgb(7, 0, 54);
    --aqua:#008afc;
    --masclaro:rgb(145, 203, 226);
}

html {
    font-size: 62.5%;
}

body {
    background-color: burlywood;
}

h1 {
    font-size: 5rem;
    color:var(--azulprincipal);
    text-align: center;
    margin-bottom: 4rem;
}

#rutas_populares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ruta1, .ruta2, .ruta3, .ruta4 {
    background-position: center top;
    background-size: 25rem 30rem;
    background-color: var(--blanco);
    background-repeat: no-repeat;
    height: 45rem;
    width: 25rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: var(--masclaro);
    box-shadow: 1px 10px 10px rgb(0,0,0,0.5%);
}

.ruta1 {
background-image: url(./img/as.jfif);
grid-column: 1/2;
}

.ruta2 {
background-image: url(./img/pasajes-de-bus.jpg);
grid-column: 2/3;
}

.ruta3 {
background-image: url(./img/a.jpg);
grid-column: 3/4;
}

.ruta4 {
background-image: url(./img/ab67616d00001e0269c07f47fc70002f6ba0bfa5.jfif);
grid-column: 4/5;
}

#rutas_populares{
    display: flex;
    
}

.cartas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding: 4rem 4rem;
}

.cartas a{
    text-decoration: none;
    color: green;
}

#rutas_populares button {
    width: 10rem;
    align-items: center;
}


